button svg {
  width: 18px;
  position: relative;
  top: -2px;
  left: -4px;
}

.or {
  border-bottom: 1px solid #eee;
  position: relative;
  margin-bottom: 10px;
  margin-top: 30px;
  div {
    position: absolute;
    left: 0;
    right: 0;
    top: -13px;
    z-index: 1;
    text-align: center;
  }
  span {
    display: inline-block;
    height: 20px;
    line-height: 20px;
    padding: 0 10px;
    font-size: 12px;
    text-transform: uppercase;
  }
}

.btns {
  display: flex;
  justify-content: center;
}
