@import '../../../styles-variables';

.login {
  max-width: 400px;
  margin: 0 auto;
}

.error {
  color: red;
  margin-bottom: 20px;
}

h3 {
  margin-bottom: 20px;
  text-align: center;
}

form button {
  width: 100%;
  margin-top: 20px;
}

.other {
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 12px;
}

.password {
  mat-icon {
    cursor: pointer;
    display: none !important;
  }
  &:hover mat-icon {
    display: block !important;
  }
}

mat-form-field {
  margin-bottom: 4px;
}

.link-big {
  font-size: 14px;
}