@import '../../styles-variables';

.theme-wrapper {
  height: 100%;
  width: 100%;
}

.avatar {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  @media (min-width: $toolbar-breakpoint) {
    margin-right: 12px;
  }
  img {
    width: 100%;
    display: block;
    opacity: 0.8;
  }
}

.logo {
  margin-right: 24px;
  font-weight: 200;
  color: white !important;
}

.spacer {
  flex: 1 1 auto;
}

.user {
  cursor: default;
  padding: 0 16px;
  line-height: 48px;
  .user-badge {
    padding: 7px 12px;
    border-radius: 16px;
    margin-left: 8px;
  }
}

mat-sidenav-container {
  height: 100%;
  width: 100%;

  .toolbar {
    position: fixed;
    width: 100%;
    display: flex;
    z-index: 10;

    .nav-button {
      margin: 0 10px 0 0;
    }

    fa-icon {
      font-size: 24px;
    }

    .branding {
      cursor: pointer;
      overflow: hidden;
      padding-top: 4px;
      text-overflow: ellipsis;

      &.center {
        text-align: center;
      }

      img {
        position: relative;
        top: -2px;
        width: 48px;
        height: 48px;
      }
    }

    .mat-stroked-button {
      margin-right: 10px;
    }

    .spacer {
      flex: 1 1 auto;
    }

    mat-select {
      margin: 0 0 0 20px;
      width: 50px;
      font-size: 14px;
    }

    @media (max-width: map-get($grid-breakpoints, lg)) {
      .nav-button {
        min-width: 0;
        padding: 0 10px;
      }
    }
  }

  .wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;

    .content {
      flex: 1 0 auto;
      margin-top: 64px;
      overflow: hidden;
    }

    .footer {
      flex: 0 0 auto;
      padding: 5px 20px 10px;

      a {
        color: inherit !important;
      }

      .row {
        padding: 10px 0;

        .signature {
          text-align: right;
        }
      }

      .desktop-row {
        display: flex;
      }
      .mobile-row {
        display: none;
      }

      @media (max-width: $toolbar-breakpoint) {
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        .desktop-row {
          display: none;
        }
        .mobile-row {
          display: flex;
          & > * {
            text-align: center;
          }
          a {
            font-size: 18px;
          }
        }
      }
    }
  }

  @media (max-width: $toolbar-breakpoint) {
    .content {
      margin-top: 56px !important;
    }
  }
}

mat-sidenav {
  width: 250px;

  .branding {
    height: 64px;
    padding: 8px 10px;
    font-size: 20px;
    font-weight: 500;

    img {
      height: 48px;
      margin: 2px 10px 0 0;
    }

    span {
      position: relative;
      top: 3px;
    }
  }

  .mat-nav-list {
    padding-top: 0;
  }
}

.mobile-footer a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.col-one-fifth {
  flex: 0 0 20%;
  max-width: 20%;
}

.currency-select {
  color: inherit;
  ::ng-deep * {
    color: inherit !important;
  }
}

.currency-dropdown {
  min-width: 100px !important;
}
