.container {
  margin-top: 20px;
}

h1 {
  margin: 0 0 20px 0;
  text-transform: uppercase;
}

h2 {
  margin: 0 0 10px 0;
  text-transform: uppercase;
}

.group {
  margin: 0 0 40px 0;
}

.icon-form-field {
  position: relative;
  display: flex;

  mat-label {
    flex: 2 1 auto;
  }
}

.icon-form-field {

  .icon-mt {
    padding-right: 8px;
  }
}

mat-form-field {
  flex: 1 0 auto;
}

.email {
  font-size: 1em;
  position: relative;
  top: 9px;
}