<div class="background">
  <div class="gradient">
    <div class="container">
      <div class="login">
        <h3 *ngIf="!(email$ | async)">
          {{ 'anms.login.forgot-password-title' | translate }}
        </h3>
        <ng-container *ngIf="email$ | async; else formBlock">
          <div class="registered">
            <mat-icon class="check-icon">check</mat-icon>
            <div class="registered-text">
              <h4>
                {{ 'anms.login.forgot-password-header' | translate }}
              </h4>
              <p>
                {{ 'anms.login.forgot-password-text-pre' | translate }}
                <span class="bold">
                  {{ email$ | async }}
                </span>
              </p>
              <p>
                {{ 'anms.login.forgot-password-text-post' | translate }}
              </p>
            </div>
          </div>
        </ng-container>
        <ng-template #formBlock>
          <form [formGroup]="form" (submit)="onSubmit()" autocomplete="off">
            <mat-form-field appearance="fill" class="full">
              <mat-label>{{ 'anms.login.email' | translate }}</mat-label>
              <input type="text" matInput formControlName="email" />
              <mat-error>
                {{ 'anms.login.invalid-email' | translate }}
              </mat-error>
            </mat-form-field>
            <button mat-raised-button color="primary">
              <mat-icon *ngIf="loading">
                <mat-spinner color="accent" diameter="20"> </mat-spinner>
              </mat-icon>
              {{ 'anms.login.forgot-password-button' | translate }}
            </button>
          </form>
        </ng-template>
      </div>
    </div>
  </div>
</div>
