<div class="background">
  <div class="gradient">
    <div class="container">
      <div class="login">
        <h3>
          {{ 'anms.reset-password.title' | translate }}
        </h3>

        <form [formGroup]="form" (submit)="onSubmit()" autocomplete="off">
          <mat-form-field appearance="fill" class="full">
            <mat-label>{{ 'anms.reset-password.email' | translate }}</mat-label>
            <input type="text" matInput formControlName="email" />
            <mat-error>
              {{ 'anms.login.invalid-email' | translate }}
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="fill" class="full password" *ngIf="form.get('oldPassword')">
            <mat-label>{{ 'anms.reset-password.old-password' | translate }}</mat-label>
            <input [type]="showOldPass ? 'text' : 'password'" matInput formControlName="oldPassword" />
            <mat-icon matSuffix (click)="showOldPass = !showOldPass">remove_red_eye</mat-icon>
          </mat-form-field>
          <mat-form-field appearance="fill" class="full password">
            <mat-label>{{ 'anms.reset-password.password' | translate }}</mat-label>
            <input [type]="showPass ? 'text' : 'password'" matInput formControlName="password" />
            <mat-icon matSuffix (click)="showPass = !showPass">remove_red_eye</mat-icon>
            <mat-error>
              {{ 'anms.login.weak-password' | translate }}
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="fill" class="full password">
            <mat-label>{{ 'anms.reset-password.confirm-password' | translate }}</mat-label>
            <input [type]="showConfirmPass ? 'text' : 'password'" matInput formControlName="confirmPassword" />
            <mat-icon matSuffix (click)="showConfirmPass = !showConfirmPass">remove_red_eye</mat-icon>
            <mat-error>
              {{ 'anms.login.password-not-match' | translate }}
            </mat-error>
          </mat-form-field>

          <button mat-raised-button color="primary">
            <mat-icon *ngIf="loading">
              <mat-spinner color="accent" diameter="20"> </mat-spinner>
            </mat-icon>
            {{ 'anms.reset-password.submit-button' | translate }}
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
